<form class="bl-carousel--slide" data-id="{{slide.id}}" (submit)="onSubmit($event)">
  <input class="bl-carousel--slide-title" [(ngModel)]="slide.title" name="title"
         placeholder="{{ 'insertTitle' | i18nSelect: i18n }}" />
  <textarea class="bl-carousel--slide-description" [(ngModel)]="slide.description" name="description"
            placeholder="{{ 'insertDescription' | i18nSelect: i18n }}"></textarea>
  
  <ol class="bl-carousel--slide-actions">
    <li *ngFor="let action of slide.actions" class="bl-carousel--slide-action">
      <bl-carousel-slide-action [action]="action"></bl-carousel-slide-action>
    </li>
  </ol>
  
  <button type="button" class="bl-carousel-editor--action-add" (click)="slide.addAction()">{{ 'addAction' | i18nSelect: i18n }}</button>
  
  <button type="submit" class="bl-carousel-editor--submit">{{ (saved ? 'updateSlide' : 'addSlide') | i18nSelect: i18n }}</button>
</form>